@charset "UTF-8";
body {
  background-color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section-portfolio__header, .section-plus__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.filter-list, .modal-form__terms-box, .modal__close-btn, .footer-btn, .footer-form, .team-list, .social-links-list, .work-list, .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jobs-card__link, .address-list__contact, .address-list__point, .client-link, .social-link, .contact-list__link, .nav-list__link, .logo {
  display: block;
  text-decoration: none;
  color: inherit;
  fill: inherit;
}

.jobs-list, .filter-list, .address-list, .clients-list, .team-list, .social-links-list, .work-list, .plus-list, .contact-list, .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.logo--right {
  margin-right: 92px;
}

.logo__part {
  color: #212121;
}

.logo__part--footer {
  color: #FFFFFF;
}

.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-right: auto;
}
.nav-list__item {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-list__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 0;
}
.nav-list__link:hover, .nav-list__link:focus {
  cursor: pointer;
  color: #2196F3;
}
.nav-list__link--current {
  position: relative;
  color: #2196F3;
}
.nav-list__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.contact-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__link:hover {
  cursor: pointer;
  color: #2196F3;
  fill: #2196F3;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  text-align: center;
  background: rgba(47, 48, 58, 0.4);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../images/Img-hero.jpeg);
}
.section-hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  margin: 0 auto 30px auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.section-hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-color: transparent;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-hero__btn:hover, .section-hero__btn:focus {
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.section-plus {
  padding-bottom: 0;
}
.plus-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.plus-list__thumb {
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: #F5F4FA;
  border-radius: 4px;
}
.plus-list__subtitle {
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.plus-list__text {
  line-height: 1.71;
  margin: 0;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-work__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}

.work-list {
  gap: 30px;
}
.work-list__item {
  position: relative;
}
.work-list__area {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.work-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  color: #FFFFFF;
}

.social-links-list {
  gap: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: #2196F3;
  cursor: pointer;
}
.social-link:hover .social-icon, .social-link:focus .social-icon {
  fill: #FFFFFF;
}
.social-link--footer-bc {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon--footer-color {
  fill: #FFFFFF;
}

.section-team {
  background-color: #F5F4FA;
}
.section-team__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}

.team-list {
  gap: 30px;
}

.personal-card {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  text-align: center;
}

.personal-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 30px 0 10px 0;
  letter-spacing: 0.03em;
}

.personal-prof {
  font-size: 16px;
  line-height: 1.19;
  margin: 0 0 16px 0;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-clients__title {
  margin: 0 0 50px 0;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-link {
  padding: 16px 32px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  border-color: #2196F3;
  cursor: pointer;
}
.client-link:hover .client-icon, .client-link:focus .client-icon {
  fill: #2196F3;
  cursor: pointer;
}

.client-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* FOOTER-PART-ONE */
.address-list:nth-child(2) {
  margin: 0 0 9px 0;
}
.address-list__point {
  display: block;
  margin: 20px 0 9px 0;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.address-list__contact {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__contact:hover, .address-list__contact:focus {
  cursor: pointer;
  color: #2196F3;
}

/* FOOTER-PART-TWO  */
.footer-call {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* FOOTER-PART-THREE */
.footer-form__header {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-input {
  padding: 15px 16px;
  width: 358px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:focus {
  border-color: #2196F3;
}
.footer-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  padding: 10px 28px;
  background-color: #2196F3;
  border-radius: 4px;
  border-color: transparent;
}
.footer-btn__text {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer-btn__icon {
  fill: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 521px;
  height: 100%;
  max-height: 581px;
  padding: 40px;
  background-color: #FFFFFF;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover {
  cursor: pointer;
  fill: #2196F3;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.modal__header {
  text-align: center;
  margin: 0 0 12px 0;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-form__label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}
.modal-form__box {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__input {
  padding: 11px 12px 11px 42px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border-color: #2196F3;
}
.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-form__input:focus + .modal-form__icon {
  fill: #2196F3;
}
.modal-form__area {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__area::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__area::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__area:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__area::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__area::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__area:focus {
  border-color: #2196F3;
}
.modal-form__terms-box {
  margin-bottom: 30px;
}
.modal-form__terms {
  position: relative;
  padding-left: 9px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}
.modal-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  background-color: #2196F3;
  border-color: transparent;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-form__custom-checkbox {
  position: absolute;
  display: block;
  left: -16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.modal-form__link {
  display: inline-block;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
  outline: none;
}
.modal-form__submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__submit-btn:hover {
  background-color: #188CE8;
}

/* ФИЛЬТР (FILTER) */
.filter-list {
  gap: 8px;
  margin: 0 0 50px 0;
}
.filter-list__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: transparent;
  border-radius: 4px;
  background-color: #F5F4FA;
}
.filter-list__btn--current {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.jobs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.jobs-card {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.jobs-card__link {
  cursor: pointer;
  -webkit-transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.jobs-card__link:hover, .jobs-card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.jobs-card__link:hover .jobs-card__overlay, .jobs-card__link:focus .jobs-card__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.jobs-card__thumb {
  position: relative;
  overflow: hidden;
}
.jobs-card__overlay {
  position: absolute;
  width: 100%;
  padding: 63px 24px;
  background-color: #2196F3;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.jobs-card__content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top-color: transparent;
}
.jobs-card__header {
  font-size: 18px;
  line-height: 2;
  margin: 0 0 4px 0;
  letter-spacing: 0.06em;
}
.jobs-card__name {
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */