.header{ background-color:$main-bcg-color;
         border-bottom:1px solid #ECECEC;
}
.nav{
 display: flex;
 justify-content:space-between;
 align-items: center;
 @media screen and (max-width:767px) {
    padding: 20px 0;    
 }
 @media screen and (min-width:768px) and (max-width:1199px) {
       justify-content: center; 
 }
}
.header-menu{
        display: flex;
   @media screen and (max-width:767px) {
       display: none; 
   }
}      
.nav-list{
  @extend%listStyle;  
 display: flex;
 gap:$second-gap;
 margin-right:90px;
 @media screen and (min-width:1200px) {
     margin-right: 315px;   
 }
}  
    
.nav-list__item{
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color:$main-text-color;
     }

.nav-list__link{
        @extend%linkStyle;
        transition:color 250ms $time-function;
        padding: 32px 0;
     
   &:hover, &:focus{
        cursor: pointer;
        color:$active-color;
                       }}

.nav-list__link--current{
        position: relative;
        color:$active-color;
     }

.nav-list__link--current::after{
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;

        width: 100%;
        height: 4px;

        background:$active-color;
        border-radius: 2px;
     }
   
.contact-list{
   @extend%listStyle;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 10px;
 @media screen and (min-width:1200px) {
    flex-direction: row;
    align-items: center;
    gap:30px   
 }
             }
.contact-list__link{
        @extend%linkStyle;
        display: flex;
        align-items:center;
        gap:10px;

        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.02em;
 
        color:$second-text-color;
        fill: $second-text-color;

        transition:color 250ms $time-function;
         
       &:hover{
                cursor: pointer;
                color: $active-color; 
                fill: $active-color;    
            }
         }        
