.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    padding: 48px 40px;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
    overflow-y: auto;

    background-color:$main-bcg-color;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms $time-function;
    @media screen and (min-width:$tablet) {
        display: none;
    }
  }
.menu-container.is-open {
    transform: translateX(0);
  }
.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
  }
.menu-toggle {
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
 &:hover,&:focus{fill:$active-color;}
  }
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
.mobile-menu{
@extend%listStyle;

} 
.mobile-menu__item:not(:last-child){margin-bottom: 36px;}
.mobile-menu__link{
    @extend%linkStyle;
    cursor: pointer;
    @media screen and (max-width:479px) {
      font-size: 27px;
    }
    font-weight: 500;
    font-size: 40px;
    line-height:1.18;
    letter-spacing: 0.02em;
    &:hover,&:focus{color: $active-color;}
    &--current{ color: $active-color;}
} 
.menu-contact{
    @extend%listStyle;
    @media screen and (max-width:479px) {
      margin-bottom: 42px;
    }
    margin-bottom: 64px;
} 
.menu-contact__link{
  @extend%linkStyle;
   font-weight: 500;
   font-size: 24px;
   line-height:1.17;
   letter-spacing: 0.02em;
   color:$second-text-color;
   &--current{
    @media screen and (max-width:479px) {
      font-size: 24px;
      line-height:1.17;
      margin-bottom: 21px;
    }
    font-size: 34px;
    line-height: 40px;
    color: $active-color;
    margin-bottom: 32px;}
    cursor: pointer;
}
.menu-social-link{
    @extend%listStyle;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-social-link__item:not(:first-child){
  @media screen and (max-width:479px) {
    padding-left: 6px;
  }
  padding-left: 10px;}
.menu-social-link__item:not(:last-child){
  border-right: 1px solid rgba(33, 33, 33, 0.2);}
.mobile-social-link{
    @extend%linkStyle;  
    @media screen and (max-width:479px) {
      padding-right: 6px;
      font-size: 12px;
    }
    padding-right: 10px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;
    color: $active-color;}
