.backdrop{
    position: fixed; 
    top: 0;
    left: 0;

    opacity: 1;
    z-index: 9;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;}
.modal{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    padding: 40px;
    min-width: 528px;
    min-height: 581px; 
        
    background-color: var(--primery-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px
          rgba(0, 0, 0, 0.14), 0px 2px 1px
          rgba(0, 0, 0, 0.2);
    border-radius: 4px;} 
.modal__title{
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;}    
.close-img{
    width: 18px;
    height: 18px;}
              
.modal-form__close-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
        
    width: 30px;
    height: 30px;
            
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color:var(--primery-white-color);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
             0px 2px 1px rgb(0 0 0 / 20%);
             cursor: pointer;
        
    top: 7px;
    right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    &:hover,&:focus{ fill: var(--akcent-color);}}
.modal-form__item{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;}                 
.modal-form__label{
    text-align: left;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: var(--additional-text-color);}  
.modal-form__input{
    position: relative;
    padding: 11px 12px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    outline: none;
    cursor: pointer;
    &:focus{border: 1px solid var(--akcent-color);}
    &:focus+.modal-form__icon{fill: var(--akcent-color);}}
.modal-form__icon{
    position: absolute;
    width: 18px;
    height: 18px;
    transform: translateY(29px) translateX(12px);
    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;}  
.modal-form__textarea{
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    cursor: pointer;
    outline: none;
    &::placeholder{
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);}
    &:focus{
        border: 1px solid var(--akcent-color);
        cursor: pointer;}}
.modal-form__chek{
    display:block;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: var(--additional-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover{cursor: pointer;}} 
.modal-form__checkbox{
    appearance: none;
    position: absolute;
    &:checked+.modal-form__checkbox-icon{
        border:  transparent;
        background-color:var(--akcent-color);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-image:url(../images/icon\ check-white.svg);
        background-size: contain;
        background-origin:content-box;}}
.modal-form__checkbox-icon{
    display: inline-block;
   
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    transform: translateY(2px);

    width: 16px;
    height: 15px;
    margin-right:4px;}
.modal-form__link{
    display: inline;
    color: var(--akcent-color);
    text-decoration: underline;
    font-size: 14px;
    line-height:1.7;
    letter-spacing: 0.03em;}
.modal-form__button-submit{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: var(--primery-white-color);
    
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: var(--akcent-color);
    padding: 10px 52px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
     &:hover{box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}}    
